:root {
	/* global theme */
	/* RGB colors; for use with rgba(var(--color), opacity)*/
	--primaryColor: 58, 58, 58;
	--primaryTextColor: 154, 154, 154;

	--secondaryColor: 106, 106, 106;
	--secondaryTextColor: 26, 26, 26;

	--tertiaryColor: 154, 154, 154;
	--tertiaryTextColor: 0, 0, 0;

	--failure: 192, 32, 32;
	--success: 32, 192, 32;

	--shadowColor: 0, 0, 0;
}

body {
	margin: 0;
	/* fill the viewport width*/
	width: 100vw;
	/* fill the viewport height*/
	min-height: 100vh;
	background-color: rgba(var(--primaryColor), 1);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
	font-size: 1.4rem;
	font-weight: 500;
	color: rgba(var(--primaryTextColor), 1);
}

h2 {
	font-size: 1.2rem;
	font-weight: 500;
	color: rgba(var(--primaryTextColor), 1);
}

h3 {
	font-size: 1rem;
	font-weight: 500;
	color: rgba(var(--primaryTextColor), 1);
}

a {
	font-weight: 500;
	color: rgba(var(--primaryTextColor), 1);
	text-decoration: none;
	padding: 0.2rem;
}

a:hover {
	background-color: rgba(var(--secondaryColor), 0.1);
	border-radius: 1rem;
}

p {
	font-size: 0.8rem;
	font-weight: 400;
	color: rgba(var(--primaryTextColor), 1);
}

.content {
	/* space from header and its shadow */
	padding-top: 2rem;
	padding-right: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 0.6rem;
}
