.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: fixed;
	margin: auto;

	background-color: rgba(var(--tertiaryColor), 1);
	color: rgba(var(--tertiaryTextColor), 1);

	/* background shadow. */
	box-shadow: 0 0 100vmax 100vmax black;
}
