# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# old projects
/1.ComputerPartsSystem.old
/2.ComputerConfigurator.old

# dependencies
# web
/computer-configurator-web/node_modules
/computer-configurator-web/.pnp
/computer-configurator-web/.pnp.js
# api
/computer-configurator-api/obj

# testing
/computer-configurator-web/coverage

# production
/computer-configurator-web/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
