.selectPart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {
	text-align: center;
	font-size: 0.8rem;
	padding: 0.3rem;
	width: 100%;
	box-shadow: 0 0 1rem 0.5rem rgba(10, 10, 10, 0.5);
}

th {
	color: rgba(var(--primaryTextColorAlternate), 1);
}

td {
	color: rgba(var(--primaryTextColor), 1);
}
