header {
	background-color: rgba(var(--secondaryColor), 1);
	box-shadow: 0 0 3rem 0.5rem rgba(var(--shadowColor), 1);
}

header .titleBar {
	display: flex;
	flex-direction: row;
	/* vertically centered. */
	align-items: center;
	/* horizontally spaced between */
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-right: 0;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

header .titleBar a {
	font-size: 1.4rem;
	color: rgba(26, 26, 26, 1);
	text-decoration: none;
}

header .titleBar button {
	margin-right: 1rem;
	/* blend with the header */
	background-color: rgba(var(--secondaryColor), 1);
	border: none;
	/* icon color */
	color: rgba(26, 26, 26, 1);
	/* the size of the icon */
	font-size: 1.5rem;
	padding-top: 0.2rem;
	padding-right: 0.5rem;
	padding-bottom: 0.2rem;
	padding-left: 0.5rem;
}

header .navSidebar {
	position: fixed;
	z-index: 999;
	display: flex;
	flex-direction: column;
	text-align: center;
	/* space from page boundary */
	padding-top: 1rem;
	padding-right: 1.5rem;
	padding-bottom: 0;
	padding-left: 1.5rem;
	/* cover the page height */
	height: 100%;
	/* prevent from covering the page width */
	max-width: 33%;
	/* separate from the header*/
	border-top: rgba(var(--tertiaryColor), 1) 2px solid;
	/* match the header */
	background-color: rgba(var(--secondaryColor), 0.9);
	/* prevent links from overflowing */
	word-wrap: break-word;
	/* initially hidden to the right */
	right: -50%;
}

header .navSidebar.showLeft {
	/* slide to the left */
	right: 0;
	transition: right 0.8s linear;
}

header .navSidebar.hideRight {
	/* slide to the right -- cha cha real smooth */
	right: -300px;
	transition: right 0.8s linear;
}

header .navSidebar a {
	color: rgba(var(--secondaryTextColor), 1);
	margin: 0.2rem;
}
