.updateControl {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.updateControl .indicator {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 14px;
	background-color: rgba(var(--secondaryColor), 1);
	color: rgba(var(--secondaryTextColor), 1);
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
	border-radius: 0.3rem;
}

.updateControl button {
	margin-left: 1rem;
}
